html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  padding: 0px 26px;
  height: 40px;
  background: #1e1e1e;
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button {
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin: 0 11px 0 0;
}

.home-button:hover {
  color: #007acc;
}
.home-icon {
  /* padding: 0px 20px; */
}

.project-name {
  background: transparent;
  color: #fff;
  padding: 2px 120px 2px 10px;
  font-size: 14px;
  text-align: left;
  outline: none;
  border: none;
  border-left: 1px solid #3c3c3c;
}

.proto-button-holder {
  display: inline-block;
  position: relative;
  color: #fff;
}

.proto-button {
  background: transparent;
  color: rgb(255, 255, 255);
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.proto-button-icon {
  padding: 6px 0px 6px 14px;
}

.proto-button-content {
  padding: 7px 14px 7px 9px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0px;
}

.proto-button-dropdown {
  display: block;
  position: absolute;
  background-color: #27292a;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.proto-button-dropdown a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.proto-button-dropdown a:hover {
  background: #007acc;
  cursor: pointer;
}

.show {
  display: block;
}

.pages-label {
  background: transparent;
  color: #fff;
  padding: 5px 20px;
  font-size: 14px;
  border-left: 1px solid #3c3c3c;
}

.page-selection {
  padding: 2px 40px 2px 10px;
  font-size: 14px;
  outline: none;
  color: #fff;
  background: #3c3c3c;
  border: none;
  width: 160px !important;
}

/* Right Header starts here */
.header-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.side-panel-container {
  position: relative;
  flex: 1;
  display: flex;
}

.side-panel-close {
  width: 13px;
  height: 100%;
  background: rgb(64, 64, 64);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.side-panel-wrapper {
  width: 400px;
  right: -400px;
  /* right: 0px; */
  height: 100%;
  position: absolute;
  display: flex;
  color: #fff;
  background: #252526;
  background-size: cover;
  overflow: auto;
  transition: right 0.5s cubic-bezier(0, 0, 0, 1);
}

.side-panel-content {
  width: calc(387px);
}

.checkbox:checked ~ .side-panel-container .side-panel-wrapper {
  right: 0px;
}

.element-type-container {
  padding: 20px 20px;
}

.properties-container {
  display: flex;
  flex-direction: column;
}

.properties-header {
  background: #3c3c3c;
  padding: 5px 20px;
}

.button-name-label {
  align-self: flex-start;
  padding: 20px 10px 10px 20px;
}

.input-name {
  color: #fff;
  background: #3c3c3c;
  outline: none;
  border: none;
  width: 90%;
  margin-left: 20px;
  padding: 4px 5px;
}

.style-name-label {
  align-self: flex-start;
  padding: 20px 10px 10px 20px;
}

.style-selection {
  width: 90%;
  padding: 4px 5px;
  color: #fff;
  outline: none;
  border: none;
  background: #3c3c3c;
  margin-left: 20px;
  margin-bottom: 50px;
}

/* action Container */

.actions-container {
  display: flex;
  flex-direction: column;
}

.actions-header {
  background: #3c3c3c;
  padding: 5px 20px;
}

.interaction-label {
  align-self: flex-start;
  padding: 20px 10px 10px 20px;
}

.interaction-selection {
  width: 90%;
  padding: 4px 5px;
  color: #fff;
  outline: none;
  border: none;
  background: #3c3c3c;
  margin-left: 20px;
}

.action-label {
  align-self: flex-start;
  padding: 20px 10px 10px 20px;
}

.action-selection {
  width: 90%;
  padding: 4px 5px;
  color: #fff;
  outline: none;
  border: none;
  background: #3c3c3c;
  margin-left: 20px;
}

.actions-container {
  display: flex;
  flex-direction: column;
}
