html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  padding: 0px 26px;
  height: 40px;
  background: #1e1e1e;
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button {
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  /* border: 1px solid #fff; */
  margin: 0 11px 0 0;
}

.home-button:hover {
  color: #007acc;
}
.home-icon {
  /* padding: 0px 20px; */
}

.project-name {
  background: transparent;
  color: #fff;
  padding: 2px 120px 2px 10px;
  font-size: 14px;
  text-align: left;
  outline: none;
  border: none;
  border-left: 1px solid #3c3c3c;
}

.proto-button {
  background: transparent;
  color: rgb(255, 255, 255);
  outline: none;
  border: none;
  margin: 0px 0 0px 0px;
  /* padding: 5px 0px; */
  cursor: pointer;
  font-size: 14px;
}

.proto-button-icon {
  padding: 6px 0px 6px 14px;
}

.proto-button-content {
  padding: 7px 14px 7px 9px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0px;
}

.pages-label {
  background: transparent;
  color: #fff;
  padding: 5px 20px;
  font-size: 14px;
  border-left: 1px solid #3c3c3c;
}

.page-selection {
  padding: 2px 40px 2px 10px;
  font-size: 14px;
  outline: none;
  color: #fff;
  background: #3c3c3c;
  border: none;
  width: 160px !important;
}

/* Right Header starts here */
.header-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mode-label {
  background: transparent;
  color: #fff;
  padding: 10px 20px 10px 30px;
  font-size: 20px;
  text-align: left;
}

.edit-button {
  color: #fff;
  outline: none;
  border: none;
  padding: 5px 25px 5px 25px;
  font-size: 16px;
  text-align: center;
  background: #3c3c3c;
  cursor: pointer;
}

.edit-button:hover {
  background: #007acc;
}

.view-button:hover {
  background: #007acc;
}

.view-button {
  color: #fff;
  outline: none;
  border: none;
  margin: 0 20px 0 10px;
  padding: 5px 25px 5px 25px;
  font-size: 16px;
  text-align: center;
  background: #3c3c3c;
  cursor: pointer;
}

.download-button {
  background: transparent;
  outline: none;
  border: none;
  color: #007acc;
  font-size: 20px;
  cursor: pointer;
}

.download-icon {
  padding: 0px 20px;
}

.save-button {
  background: #007acc;
  color: #fff;
  outline: none;
  border: none;
  margin: 0px 20px 0px 20px;
  padding: 5px 0;
  cursor: pointer;
}

.save-icon {
  padding: 0 10px;
  font-size: 18px;
}

.save-content {
  padding: 0px 30px 0px 10px;
  font-size: 16px;
  text-align: center;
}

.side-panel-container {
  position: relative;
  flex: 1;
}

.side-panel-wrapper {
  width: 400px;
  right: -400px;
  height: 100%;
  position: absolute;
  color: #fff;
  background: #252526;
  background-size: cover;
  overflow: auto;
  transition: right 0.5s cubic-bezier(0, 0, 0, 1);
}

.checkbox:checked ~ .side-panel-container .side-panel-wrapper {
  right: 0px;
}

.element-type-container {
  padding: 20px 20px;
}

.properties-container {
  display: flex;
  flex-direction: column;
}

.properties-header {
  background: #3c3c3c;
  padding: 5px 20px;
}

.button-name-label {
  align-self: flex-start;
  padding: 20px 10px 10px 20px;
}

.input-name {
  color: #fff;
  background: #3c3c3c;
  outline: none;
  border: none;
  width: 90%;
  margin-left: 20px;
  padding: 4px 5px;
}

.style-name-label {
  align-self: flex-start;
  padding: 20px 10px 10px 20px;
}

.style-selection {
  width: 90%;
  padding: 4px 5px;
  color: #fff;
  outline: none;
  border: none;
  background: #3c3c3c;
  margin-left: 20px;
  margin-bottom: 50px;
}

/* action Container */

.actions-container {
  display: flex;
  flex-direction: column;
}

.actions-header {
  background: #3c3c3c;
  padding: 5px 20px;
}

.interaction-label {
  align-self: flex-start;
  padding: 20px 10px 10px 20px;
}

.interaction-selection {
  width: 90%;
  padding: 4px 5px;
  color: #fff;
  outline: none;
  border: none;
  background: #3c3c3c;
  margin-left: 20px;
}

.action-label {
  align-self: flex-start;
  padding: 20px 10px 10px 20px;
}

.action-selection {
  width: 90%;
  padding: 4px 5px;
  color: #fff;
  outline: none;
  border: none;
  background: #3c3c3c;
  margin-left: 20px;
}

.actions-container {
  display: flex;
  flex-direction: column;
}
