.body {
    margin: 0px;
    padding: 0px;
}

.createprototype-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.header-input-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding-top: 1%;
}

.input-prototype-name {
    margin-bottom: 15px;
    font-size: 32px;
    outline: none;
    border: none;
    border-bottom: 2px solid lightgrey;
    width: 50%;
}

.input-prototype-description {
    font-size: 26px;
    outline: none;
    border: none;
    border-bottom: 2px solid lightgrey;
    width: 85%;
    padding-top: 10px;

}

.wireframe-selection-container {
    flex-grow: 1;
    position: relative;
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    /* left: 50%;
    transform: translateX(-50%); */
}

.wireframe-selection-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.wireframe-selection {
    border: 1px solid #000;
    display: flex;
    width: 570px;
    margin: 20px;
    cursor: pointer;
    background: #383b3d;
    color: #e9e9e9;
}

.wireframe-selection-image {
    padding: 30px;
}

.wireframe-image {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    background: #e9e9e9;
}

.wireframe-selection-description {
    padding: 30px;
}


.description-header {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-bottom: 30px;
}

.description-paragraph {
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: justify;
    display: inline-block;
}

.create-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

}

@media(max-width:2600px) {
    .wireframe-selection-wrapper {
        width: 60%;
    }
}

@media(max-width:2200px) {
    .wireframe-selection-wrapper {
        width: 70%;
    }
}

@media(max-width:1900px) {
    .wireframe-selection-wrapper {
        width: 80%;
    }
}

@media(max-width:1700px) {
    .wireframe-selection-wrapper {
        width: 90%;
    }
}

@media(max-width:1500px) {
    .wireframe-selection-wrapper {
        width: 100%;
    }
}

@media(max-width:1400px) {
    .wireframe-selection {
        width: 500px;
        margin: 15px;
    }

    .wireframe-selection-image {
        padding: 20px;
    }

    .wireframe-selection-description {
        padding: 20px;
    }

    .description-header {
        padding-bottom: 20px;
    }
}


@media(max-width:1200px) {
    .wireframe-selection {
        width: 400px;
        margin: 10px;
    }

    .wireframe-selection-image {
        padding: 10px;
    }

    .wireframe-selection-description {
        padding: 10px;
    }

    .description-header {
        padding-bottom: 10px;
    }

    .wireframe-image {
        width: 150px;
        height: 180px;
    }
}